<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th class="col col-md-3">Name</th>
              <th class="col col-md-3">Email</th>
              <th class="col col-md-3">Phone Number</th>
              <th class="col col-md-3" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let c of contacts">
              <td>{{c.firstName}} {{c.lastName}}</td>
              <td>{{c.email}}</td>
              <td>{{c.phone}}</td>
              <td><button class="btn btn-outline-danger" >Delete</button></td>
              <td><button class="btn btn-outline-primary" >Update</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
