.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the form is centered vertically on the page */
}

.form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 8px; /* Reduced padding */
  margin-bottom: 10px; /* Added margin */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.social {
  margin-top: 20px;
}

.social div {
  display: inline-block;
  width: 45%; /* Adjusted width */
  padding: 5px; /* Reduced padding */
  margin-right: 10px; /* Added margin between buttons */
  text-align: center;
  background-color: #3b5998;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.social div:last-child {
  margin-right: 0; /* Remove margin from last button */
}

.social div:hover {
  background-color: #2d4373;
}
