<div class="form-container"> 
    <div class="form">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <h3>Login</h3>

            <label for="username">Username</label>
            <input name="username" type="text" [(ngModel)]="jwtRequest.username" placeholder="username" id="username" required>

            <label for="password">Password</label>
            <input name="password" type="password" [(ngModel)]="jwtRequest.password" placeholder="Password" id="password" required>

            <button type="submit">Log In</button>
            <div class="social">
                <div class="go"><i class="fa fa-google"></i>  Google</div>
                <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
            </div>
        </form>
        <div id="exception" *ngIf="exception">{{error.errorMessage}}</div>
    </div>
</div>